LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your_langchain_api_key

OPENAI_API_KEY=sk-proj-your_openai_api_key
LLAMA_CLOUD_API_KEY=llx-your_llama_cloud_api_key
AAI_API_KEY=your_assemblyai_api_key
